<div class="col-md-4">
  <h2 class="text-center">Edit Person Phone</h2>

  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="email">Phone Number:</label>
      <input type="tel" formControlName="phoneNumber" placeholder="(31)00000-0000" name="phoneNumber" class="form-control" id="phoneNumber">
    </div>

    <div class="form-group">
      <label for="firstName">Phone Number Type:</label>
      <input formControlName="phoneNumberTypeID" placeholder="Phone Number Type (1 or 2)" name="phoneNumberTypeID" class="form-control" id="phoneNumberTypeID">
    </div>
    <button class="btn btn-success">Update</button>
  </form>
    
  
</div>
